/web/bundles/
/web/css/*
/web/js/*
/node_modules/
/app/bootstrap.php.cache
/app/cache/*
!app/cache/.gitkeep
/app/config/parameters.yml
/app/logs/*
!app/logs/.gitkeep
/app/phpunit.xml
/composer.phar
/vendor/
.idea/*
/web/uploads/
/build/
/phpunit.xml
!/var/cache
/var/cache/*
!var/cache/.gitkeep
!/var/logs
/var/logs/*
!var/logs/.gitkeep
!/var/sessions
/var/sessions/*
!var/sessions/.gitkeep
!var/SymfonyRequirements.php
!/var/tmp
/var/tmp/*
!var/tmp/.gitkeep
/conf/mysql/db/*